<div class="container">
  <h1>Stupid Coaching</h1>
  <form action="/answer">
    <input type="text" name="question" class="input">
    <input type="submit" value="Ask!" style="height:50px; width:50px">
  </form>
</div>


